h1,
h2,
h3,
p,
span,
li {
  font-family: $font__main;
}

h1 {
  font-size: 30px;
  border-bottom: $color_borderOne;
  padding-bottom: 10px;
}

span {
  font-weight: bold;
}
p {
  margin: 15px;
}

p,
li {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  margin: 15px;
  li {
    list-style-type: disc;
  }
}

.sectionContainer {
  padding: 2rem;
}
