h1,
h2,
h3,
p,
span,
li {
  font-family: $font__main;
}

h1 {
  font-size: 30px;
}
h2 {
  font-weight: bold;
  font-size: 19px;
}

.sectionTitle {
  padding-bottom: 10px;
  line-height: 30px;
}

.headerDivider,
.headerDivider2,
.headerDivider3 {
  width: 100%;
}

span {
  font-weight: bold;
}
p {
  margin: 15px;
}

p,
li {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 20px;
}

ul {
  margin: 15px;
  li {
    list-style-type: disc;
  }
}

.sectionContainer {
  margin: 1.5rem;
  padding: 1rem;
  @include desktop {
    margin: 3rem;
  }
}
