.title h1 {
  border-bottom: $color_borderTwo;
}

.banner1 img,
.banner3 {
  width: 100vw;
}

.invest,
.ahead,
.video {
  background: $color__backgroundOne;
}

.video {
  padding: 5px;
  text-align: center;
  iframe {
    padding: 35px;
    padding-bottom: 0;
    padding-top: 10px;
  }
}

.investIcon {
  text-align: center;
}

.singleCharge {
  padding-top: 15px;
  padding-bottom: 15px;

  h2 {
    font-weight: bold;
  }

  h3 {
    border-bottom: $color_borderOne;
  }
}

.charge {
  text-align: center;
}
