.title {
  border-bottom: $color_borderTwo;
}

.opportunity h1 {
  padding-top: 10px;
}

.banner1 img,
.banner3 {
  width: 100vw;
}

.banner2 {
  background: url('/images/Image 2.jpg') no-repeat;
  height: 170px;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  .textBackground {
    background: $color__backgroundOne;
    opacity: 0.8;
    width: 90vw;
    padding-left: 1rem;
    p {
      font-weight: bold;
      span {
        font-weight: lighter;
      }
    }
  }
}

.invest,
.ahead,
.video {
  background: $color__backgroundOne;
}

.video {
  padding: 5px;
  text-align: center;
  iframe {
    padding-bottom: 0;
    padding-top: 10px;
  }
}

.circleImg,
.investIcon {
  text-align: center;
}

.singleCharge {
  padding-top: 15px;
  padding-bottom: 15px;

  h2 {
    font-weight: bold;
  }

  h3 {
    border-bottom: $color_borderOne;
  }
}

.charge {
  text-align: center;
}

ol {
  margin-left: 40px;
  margin-right: 40px;
  li {
    list-style-type: decimal;
  }
}
